{% extends 'base.html.twig' %}

{% block body %}
    {# Si une page n'existe pas (Pas encore actif) #}
    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('property.index') }}">return to the homepage</a>.
    </p>
{% endblock %}