{% extends 'base.html.twig' %}

{% block title %} Immobien {% endblock %}

{% block body %}
    {# Présentation de l'entreprise #}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur l'agence Immobien!</h1>
        <p>Agence immobilière depuis 1997, par Ronnald Momentum</p>
    </div>


    {# Affichage des derniers bien mis #}
    <div class="container mt-4">
        <h1>Les derniers bien mis</h1>
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    {%  include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}