{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
    {# Block de connexion #}
    <div class="jumbotron">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey | trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Connexion</h5>
                        <form action="{{ path('login') }}" method="post" }}>
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                            <button class="btn btn-lg btn-info btn-block" type="submit">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}