{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {# Block d'inscription #}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                {# Affichage message de succès #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inscription</h5>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.username) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.password) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {# Bouton de validation #}
                        <button class="btn btn-info btn-lg btn-block">
                            {{ button | default("S'inscrire") }}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}