{% extends 'base.html.twig' %}

{% block title 'Editer' %}

{% block body %}

    {# Edition de la propriété #}
    <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include('admin/property/_form.html.twig', { form: form, button: 'Sauvegarder'}) }}
    </div>

{% endblock %}
