{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}

    {# Bouton permettant l'ajout d'une propriété (Bouton du haut) #}
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h1>Gérer les biens</h1>
            </div>
            <div class="col-6">
                <div class="text-right">
                    <a href="{{ path('admin.property.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
            </div>
        </div>

        {# Message de succès de suppression #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# Tableau d'affichage des propriétés #}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {# Tableau des propriétés (EIDTER | SUPPRIMER) #}
                {% for property in properties %}
                    <tr>
                        <td>{{ property.title }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-primary">Éditer</a>
                                {# Bouton de suppression avec confirmation #}
                                <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            {% endif %}
                            {# Fin suppression #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Bouton permettant l'ajout d'une propriété (Bouton du bas) #}
        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-secondary" style="margin-bottom: 15px;">Ajouter</a>
        </div>
    </div>


{% endblock %}