{% extends 'base.html.twig' %}

{% block title 'Ajouter' %}

{% block body %}

    {# Bouton d'ajout d'une propriété #}
    <div class="container mt-4">
        <h1>Ajouter un bien</h1>
        {{ include('admin/property/_form.html.twig', { form: form, button: 'Ajouter'}) }}
    </div>

{% endblock %}