{# Base d'affichage des propriétés en carte #}
<div class="card mb-4">
    {% if property.filename %}
        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" alt="image du bien" class="card-img-top">
    {% else %}
        <img src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb')}}" alt="image du bien" class="card-img-top">
    {%  endif %}
    <div class="card-body">
        <h5 class="card-title">
            {# Récupère l'id pour l'affichage d'une propriété #}
            <a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">
                {{ property.title }}
            </a>
        </h5>
        {# Quelques informations sur la propriété #}
        <p class="card-text"> {{ property.surface }}m² - {{ property.rooms }} Pièces</p>
        <p class="card-text"> {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold">
            {{ property.formattedPrice }} €
        </div>
    </div>
</div>