{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
    {# Block de la fonction rechercher #}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {# Titre de la page #}
    <div class="container mt-4">
        <h1>Retrouvez tous nos biens</h1>

        {# Affichage de toutes les propriétés #}
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    {%  include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>

        {# Pagination de la page 'Acheter' #}
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>

{% endblock %}