{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    {# Affichage nom - nb de piece - m² - prix - contact (haut droite) #}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {# Images #}
                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium')}}" alt="image du bien" class="card-img-top">
                    {% else %}
                        <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium')}}" alt="image du bien" class="card-img-top">
                    {%  endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} Pièces - {{ property.surface }} m² </h2>
                    <div class="text-primary" style="font-size: 3rem; font-weight: bold;">
                        {{ property.formattedPrice }} €
                    </div>
                    <div class="btn btn-primary">
                        Contacter l'agence
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Description #}
    <div class="container mt-4">
        <p>
            {{ property.description | nl2br }}
        </p>
        {# Affichage caractéristique du bien (bas gauche) #}
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques du bien</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }} </td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }} </td>
                    </tr>
                    <tr>
                        <td>Étage</td>
                        <td>{{ property.floor }} </td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }} </td>
                    </tr>
                </table>
            </div>
            {# Affichage spécifité du bien (bas droite) #}
            <div class="col-md-4">
                <h2>Spécifités du bien</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}