{# Formulaire principale pour l'ajout ou la suppression d'une option #}
{{ form_start(form) }}
{{ form_rest(form) }}
    <button class="btn btn-primary">{{ button | default('Ajouter') }}</button>
{{ form_end(form) }}