{% extends 'base.html.twig' %}

{% block title 'Editer' %}

{% block body %}

    {# Editer une option #}
    <div class="container mt-4">
        <h1>Editer l'option</h1>
        {{ include('admin/options/_form.html.twig', { form: form, button: 'Sauvegarder'}) }}
    </div>

{% endblock %}