{% extends 'base.html.twig' %}

{% block title 'Gérer les options' %}

{% block body %}

    <div class="container mt-4">
        {# Si besoin d'un bouton en haut
        <div class="row">
            <div class="col-6">
                <h1>Gérer les options</h1>
            </div>
            <div class="col-6">
                <div class="text-right">
                    <a href="{{ path('admin.property.new') }}" class="btn btn-secondary">Ajouter</a>
                </div>
            </div>
        </div> #}

        {# Message de succès d'ajout/suppression #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# Titres du tableau #}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {# Tableau des options #}
                {% for options in options %}
                    <tr>
                        <td>{{ options.name }}</td>
                        <td>
                            <a href="{{ path('admin.options.edit', {id: options.id}) }}" class="btn btn-primary">Éditer</a>
                            <form method="post" action="{{ path('admin.options.delete', {id: options.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ options.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Bouton d'ajout d'une option #}
        <div class="text-right">
            <a href="{{ path('admin.options.new') }}" class="btn btn-secondary">Ajouter</a>
        </div>
    </div>


{% endblock %}