{% extends 'base.html.twig' %}

{% block title 'Ajouter' %}

{% block body %}

    {# Ajout d'une option #}
    <div class="container mt-4">
        <h1>Ajouter une option</h1>
        {{ include('admin/options/_form.html.twig', { form: form, button: 'Ajouter' }) }}
    </div>

{% endblock %}