<!DOCTYPE html>
<html>
    {# Block head #}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Bar de navigaion #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ path('home') }}">Immobien</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            {# Premier lien #}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link"
                        {% if current_menu is defined and current_menu == 'properties' %}
                            actives
                        {% endif %} href="{{ path('property.index')}}">Acheter
                </a>

                  {# Lorsqu'un utilisateur connecté #}
                  {% if app.user %}
                    {# Avec le ROLE AGENCE (ou ADMIN) #}
                      {% if (app.user.role == 'ROLE_AGENCE') or (app.user.role == 'ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin.property.new') }}">Vendre</a>
                        </li>
                      {% endif %}
                  {% endif %}
              </li>
            </ul>

              {# Vérification si l'utilisateur est connecté #}
              {% if app.user %}
                  <ul class="navbar-nav">
                      {# Vérifie si l'utilisateur est un admin#}
                      {% if app.user.role == 'ROLE_ADMIN' %}
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('admin.property.index') }}">Propriétés</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{{ path('admin.options.index') }}">Options</a>
                          </li>
                      {% endif %}
                      {# Si un utilisateur est connecté -> afficher bouton de déconnexion
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('tchat') }}">Tchat</a>
                      </li> #}
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                      </li>
                  </ul>
                  {# Si aucun utilisateur est connecté #}
              {% else %}
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                      </li>
                  </ul>
              {% endif %}
          </div>
        </nav>

        {# Scripts #}
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script>
            $('select').select2();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
